<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <a class="navbar-brand" href="/">CatMarket</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/events/new">Choisir un chat</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pannier</a>
      </li>
    </ul>
    
    <!-- SI UTILISATEUR CONNECTÉ, ON AFFICHE UNE DROPDOWN -->
    <% if current_user %>    
      <%= link_to cart_path(current_user.cart.id) do%>
          <i class="fa fa-shopping-cart"></i>
          <span>Panier <%= @orders_in_cart %> articles</span>
      <% end %>
      <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</p>
      <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">Mon profil</button>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/users/<%= current_user.id %>">Mon profil</a>
              <a class="dropdown-item" href="/users/sign_out" data-method="delete">Déconnexion</a>
            </div>
        </div>
      </div>
    <!-- SI UTILISATEUR NON CONNECTÉ, ON AFFICHE UNE AUTRE DROPDOWN -->
    <% else %>
      <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">Connexion/Inscription</button>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/users/sign_up">Inscription</a>
              <a class="dropdown-item" href="/users/sign_in">Connexion</a>
            </div>
        </div>
      </div>
    <% end %>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script> -->
  <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->

</nav>